body {
  background: #a8fa9d;
  color: #004501;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; }
h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgb(0, 109, 0);}
.documentation {
    color: #fd264f;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #0000006f;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #f8fc00; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #006809; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

    /* Specimen image sizing for botanical pages */
    .specimen {
      display: block;
      max-width: 100%;
      /* Square-ish presentation: force aspect-ratio close to 1 and crop with object-fit */
      width: 100%;
      max-width: 36rem;
      aspect-ratio: 1/1;
      height: auto;
      margin: 1rem auto;
      object-fit: cover; /* crop to fill square */
      /* Control vertical focal point: lower the focal area (default 85%) */
      --specimen-pos-y: 85%;
      object-position: center var(--specimen-pos-y);
    }

    @media (max-width: 800px) {
      .specimen {
        width: 90%;
        max-width: 28rem;
        aspect-ratio: 1/1;
      }
    }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  background-color: #c2ffcb;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 50px;
}

p {
  text-align: left;
}

p b {
  font-weight: 700;
}

.container {
  padding: 50px;
  background-color: #F0F0F0;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 30px #CACACA;
}

.title {
  font-size: 36px;
  color: #333;
}

.subtitle {
  font-size: 12px;
  color: #333;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

a.button {
  display: inline-block;
  font-size: 24px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 2px 10px #999;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px;
  padding: 15px 25px;
  background-size: 250% 100% !important;
  background-position: 100% 0% !important;
}

a.button.red {
  background: -moz-linear-gradient(45deg, #DBA551, #85202c);
  background: -webkit-linear-gradient(45deg, #DBA551, #85202c);
  background: linear-gradient(45deg, #DBA551, #85202c);
}

a.button.blue {
  background: -moz-linear-gradient(45deg, #7399ae, #662452);
  background: -webkit-linear-gradient(45deg, #7399ae, #662452);
  background: linear-gradient(45deg, #7399ae, #662452);
}

a.button.green {
  background: -moz-linear-gradient(45deg, #B7CF4F, #298520);
  background: -webkit-linear-gradient(45deg, #B7CF4F, #298520);
  background: linear-gradient(45deg, #B7CF4F, #298520);
}

a.button:hover {
  background-position: 0% !important;
  box-shadow: 0 0px 12px #BBB;
  transition: all 0.3s ease;
  transform: translateY(-1px);
}

a.button:active {
  transform: translateY(0);
  background-position: 50% !important;
}